<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net452" />
  <package id="Hangfire" version="1.6.17" targetFramework="net452" />
  <package id="Hangfire.Core" version="1.6.17" targetFramework="net452" />
  <package id="Hangfire.Redis.StackExchange.StrongName" version="1.7.0" targetFramework="net452" />
  <package id="Hangfire.SqlServer" version="1.6.17" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.10" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="StackExchange.Redis.StrongName" version="1.2.1" targetFramework="net452" />
</packages>